<div class="ui grid">
  <div class="twelve wide column">
      <div class="ui segments">
        <div class="ui segment">
          <div class="ui grid">
            <div class="twelve wide column">
              {{flexberry-field
                value=imageURL
                class=imageInputClass
                label=(t "components.flexberry-add-marker.main-image")
                placeholder='URL'
                readonly=readonly
                type=type
                maxlength=maxlength
              }}
              <div class="ui grid">
                <div class="two column row">
                  <div class="column">
                    {{flexberry-field
                      value=imageWidth
                      label=(t "components.flexberry-add-marker.width")
                      placeholder=placeholder
                      readonly=readonly
                      type="number"
                      maxlength=maxlength
                    }}
                  </div>
                  <div class="column">
                    {{flexberry-field
                      value=imageHeight
                      label=(t "components.flexberry-add-marker.height")
                      placeholder=placeholder
                      readonly=readonly
                      type="number"
                      maxlength=maxlength
                    }}
                  </div>
                  {{flexberry-button
                    class=applyImageClass
                    iconClass=class
                    caption=(t "components.flexberry-add-marker.get-size")
                    click=(action "getImageSizeClick")
                  }}
                  {{flexberry-button
                    class=applyImageClass
                    readonly=applyImageReadonly
                    iconClass=class
                    caption=(t "components.flexberry-add-marker.apply")
                    click=(action "applyImageClick")
                  }}
                </div>
              </div>
            </div>
            <div class="four wide column">
              <canvas id="imageCanvas" width="200px" height="200px"></canvas>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="twelve wide column">
              {{flexberry-field
                value=shadowURL
                class=shadowInputClass
                label=(t "components.flexberry-add-marker.shadow-image")
                placeholder='URL'
                readonly=readonly
                type=type
                maxlength=maxlength
              }}
              <div class="ui grid">
                <div class="two column row">
                  <div class="column">
                    {{flexberry-field
                      value=shadowWidth
                      label=(t "components.flexberry-add-marker.width")
                      placeholder=placeholder
                      readonly=readonly
                      type="number"
                      maxlength=maxlength
                    }}
                  </div>
                  <div class="column">
                    {{flexberry-field
                      value=shadowHeight
                      label=(t "components.flexberry-add-marker.height")
                      placeholder=placeholder
                      readonly=readonly
                      type="number"
                      maxlength=maxlength
                    }}
                  </div>
                  {{flexberry-button
                    class=applyImageClass
                    iconClass=class
                    caption=(t "components.flexberry-add-marker.get-size")
                    click=(action "getShadowSizeClick")
                  }}
                  {{flexberry-button
                    class=applyShadowClass
                    readonly=applyShadowReadonly
                    iconClass=class
                    caption=(t "components.flexberry-add-marker.apply")
                    click=(action "applyShadowClick")
                  }}
                </div>
              </div>
            </div>
            <div class="four wide column">
                <canvas id="shadowCanvas"  width="200px" height="200px"></canvas>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="four wide column">
    <canvas id="resultCanvas"  width="200px" height="200px"></canvas>
  </div>
</div>
