<div class="ui grid">
  <div class="twelve wide column">
      <div class="ui segments">
        <div class="ui segment">
          <div class="ui grid">
            <div class="twelve wide column">
              {{flexberry-field
                value=imageURL
                class=imageInputClass
                label=(t "components.flexberry-add-marker.main-image")
                placeholder='URL'
                readonly=readonly
                type=type
                maxlength=maxlength
              }}
              <div class="ui grid">
                <div class="two column row">
                  {{flexberry-button
                    class=applyImageClass
                    readonly=applyImageReadonly
                    iconClass=class
                    caption=(t "components.flexberry-add-marker.apply")
                    click=(action "applyImageClick")
                  }}
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div style="height: 200px; width: 200px; overflow: scroll; position: relative;">
                {{imageToShow}}
                <table style="
                    width: {{imageWidth}}px;
                    height: {{imageHeight}}px"
                    >
                  {{#each imageTableCells as |row| }}
                    <tr>
                      {{#each row as |cell|}}
                        <td onclick={{action "imageTableClick" cell}}></td>
                      {{/each}}
                    </tr>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <div class="ui grid">
            <div class="twelve wide column">
              {{flexberry-field
                value=shadowURL
                class=shadowInputClass
                label=(t "components.flexberry-add-marker.shadow-image")
                placeholder='URL'
                readonly=readonly
                type=type
                maxlength=maxlength
              }}
              <div class="ui grid">
                <div class="two column row">
                  {{flexberry-button
                    class=applyShadowClass
                    readonly=applyShadowReadonly
                    iconClass=class
                    caption=(t "components.flexberry-add-marker.apply")
                    click=(action "applyShadowClick")
                  }}
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div style="height: 200px; width: 200px; overflow: scroll; position: relative;">
                {{shadowToShow}}
                <table style="
                    width: {{shadowWidth}}px;
                    height: {{shadowHeight}}px;"
                    >
                  {{#each shadowTableCells as |srow| }}
                    <tr>
                      {{#each srow as |scell|}}
                        <td onclick={{action 'shadowTableClick' scell}}></td>
                      {{/each}}
                    </tr>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="four wide column">
    {{flexberry-button
      iconClass=class
      caption=(t "components.flexberry-add-marker.apply")
      click=(action "previewClick")
    }}
    <canvas id="resultCanvas"  width="200px" height="200px"></canvas>
  </div>
</div>
