{{#ui-dropdown class="search selection" onChange=(action "onShowOpen")}}
  <i class="dropdown icon"></i>
  <div class="default text">
    Select gradient
  </div>
  <div class="menu">
    {{#each _isGradTest as |gradTest|}}
    <div class="item" data-value="{{gradTest.name}}">
      <canvas class = "flag {{gradTest.name}} {{gradTest.colorS}} {{gradTest.colorE}}" width = "24" height = "14" style = "border:1px solid #000000;"></canvas>
      {{gradTest.name}}
    </div>
    {{/each}}
  </div>
{{/ui-dropdown}}
